<<<<<<< HEAD
body{ 
    margin: 0px;
    padding: 0px;
=======
body {
    background: rgb(26, 199, 230);
    font-family: Helvetica, Arial, sans-serif;
}

h1, h2 {
    font-family: Helvetica, Arial, sans-serif;
>>>>>>> parent of 686a510... Revert "Update about.html"
}

.purpose {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    display: flex;
<<<<<<< HEAD
    background-color: rgb(17, 188, 255); 
}
.logo {
    background-image: url("Logo.png");
    border: 50%;
    background-size: 300px;
    height: 300px;
    display: block;
    background-repeat: no-repeat;
    text-indent: -9999999px;
    margin-right: auto;
    margin-left: 35%;
}
.funfacts {
    display: flex; 
    border-radius: 50%;
    width: 300px;
    height: 300px;
    background-color: rgb(17, 188, 255);
    display:  

}
=======
    flex-direction: row;
}

section div div {
    border-radius: 20px;
    background: beige;
    margin: 10px 10px 10px 10px;
    text-align: center;
    text-size: 40px;
}

section p {
    position: relative;
    top: 20px;
}

header {
    background: none;
    color: black;
    text-align: center;
}

section.upper img {
    border-radius: 20px;
}

nav li {
    color: purple;
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;

}

#event div {
    height: 75px;
    font-size: larger;
    padding-top: 20px;
}


#event div p {
    font-size: small;
}

nav li:hover {
    text-decoration: underline; 
}


footer {
    text-align: center;
    padding-top: 30px
}
>>>>>>> parent of 686a510... Revert "Update about.html"
