body{ 
    margin: 0px;
    padding: 0px;
}

.purpose {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    display: flex;
    background-color: rgb(17, 188, 255); 
}
.logo {
    background-image: url("Logo.png");
    border: 50%;
    background-size: 300px;
    height: 300px;
    display: block;
    background-repeat: no-repeat;
    text-indent: -9999999px;
    margin-right: auto;
    margin-left: 35%;
}
.funfacts {
    display: flex; 
    border-radius: 50%;
    width: 300px;
    height: 300px;
    background-color: rgb(17, 188, 255);
    display:  

}
